.home{
    display:flex;
    flex-direction:column-reverse;
    margin: 2rem auto;
    align-items: center;
    gap:2.5rem;
    width: 90%;
    max-width: 700px;
}

.img-container{
    width: 270px;
    height: 270px;
    display:flex;
    position: relative;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-container::before,.img-container:after{
    content: "";
    position: absolute;
    inset:0;
    background-image: conic-gradient(
        transparent,
        transparent,
        transparent,
        var(--green) 
    );
    animation: revolve 4s linear infinite;
}

.img-container:after{
    animation-delay: 2s;
}

@keyframes revolve {
    from{
      transform: rotate(0deg);
    }
    to{
       transform:rotate(360deg);
    }
    
} 
.img-container img{
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
}
.details h2{
    font-size: 2.3rem;
}

.details h2 span{
    background: linear-gradient(to right, var(--green),var(--white));
    padding-bottom: 2px;
    border-bottom: 5px solid var(--green);
    color: transparent;
    -webkit-background-clip:text;
}
.details h3{
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    overflow: hidden;
}
.details h3 span{
    color: var(--green);
    display: inline-block;
    min-width: 130px;
    overflow: hidden;
    white-space: nowrap;
}
.details h3 span::after{
    content:"|";
    margin-left: 5px;
    animation: blink 0.7s steps(1) infinite;
}
@keyframes blink{
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.details p{
    font-size: 1.3rem;
    text-align: justify;
}

.bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bottom button{
    width: 12rem;
    background: var(--green);
    padding:0.8rem 0;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 5px;
    cursor:pointer;
    border:none;
    transition: all 0.3s;
}
.bottom button :hover{
    box-shadow: 3px 3px 3px var(--green),
    -3px 3px 3px var(--green),
    3px -3px 3px var(--green),
    -3px -3px 3px var(--green);
}
.social-icons{
    display: flex;
    gap:20px;
    font-size:2rem;
}
.social-icons a{
 color: var(--white);
 transition: all ease 0.3s;
}
.social-icons a:hover{
color: var(--green);
scale:105%;
}




@media screen and (width>=768px){
    .home{
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
        gap: 3.5;
    }

    .details h2{
        font-size: 3rem;
    }

    .details h3{
        font-size: 2.5rem;
    }

    .social-icons{
        font-size: 3.5rem;
    }
    .bottom{
        flex-direction: row;
        gap: 20px;
    }
    .bottom button{
        width:12rem;
        padding: 0.8 0;
        font-size:1.3rem;
        font-weight: 750;
    }
    .bottom-button{
        border-radius:5px;
    }
}




@media screen and (width>=1024px){
    .home{
    margin: 3rem auto;
    }
    .img-container{
        width:400px;
        height: 400px;
    }
    .details{
        gap:30px;
    }
    .details h2{
        font-size: 5rem;
    }
    .details p{
        font-size: 2rem;
    }
    .details h3{
         font-size: 2.8rem;
    }
}